/* Variables */
$h2-font-size: 3.5rem;
$full-height: 100%;
$full-width: 100%;
$temp-font-size: 5rem;
$unicode-temp-font-size: 2rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

/* General */
html, body, #root {
  height: $full-height;
  width: $full-width;
}

* {
  margin: 0;
}

.section-search {
  height: 240px;
  width: $full-width;
}

p {
  font-size: 24px;
}

label {
  font-size: 24px;
}

h2, .h2 {
  font-size: $h2-font-size;
}

/* App.js */
.background_container {
  color: white;
  background: linear-gradient(#226ba3de, #226ba359), url("../sky-1441936_1920.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: $full-height;
  width: $full-width;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: $full-height;
}

.section-result {
  width: $full-width;
  display: flex;
  justify-content: center;
}


/* Components */

#result-component {
  width: $full-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  #temperature {
    font-size: $temp-font-size;
  }

  #unicodeTag {
    font-size: $unicode-temp-font-size;
  }
}

#search-form-component {
  width: $full-width;

  .input-search {
    flex: 1;
    width: 75%;
  }
}

#temperature-format-option-component {

}

.wind-direction-component {
  
}

@include media-breakpoint-up(md) {
  .centered {
    width: 50%;
  }

}